*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetDropDown.xml
/app/release/app-release.apk
/app/release/
/Screenshot2.png
/Screenshot3.png
/Screenshot4.png
/Screenshot5.png
/Screenshot6.png
/app/src/main/feature.png
/qrcode_github_abqheadlines.png
/Screenshot7.png
